body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #ececec;
    font-weight: bold;
    margin: 4rem;
    font-size: 20px;
}

.log-in {
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

main {
    margin-top: 0px;
}

.adventure {
    height: 100vh;
    overflow: hidden;
}

.adventure img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
}

.adventure-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.adventure-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.get-started {
    background: #000;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
