<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Companion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo_white.png') }}" alt="Logo">
            </div>
            <ul>
                <li><a href="{{ url_for('web.home') }}">Home</a></li>
                <li><a href="{{ url_for('web.plan_a_trip') }}">Plan a Trip</a></li>
                <li><a href="{{ url_for('web.recommendations') }}">Live Advice</a></li>
                <li><a href="#history">History</a></li>
                <li><a href="#support">Support</a></li>
                <li><a href="#advice">Live Advice</a></li>
            </ul>
            {% if 'profile' in session %}
                <div class="user-info">
                    <button class="log-out" onclick="logout()"><span>{{ session['profile']['name'] }}</span></button>
                </div>
            {% else %}
                <button class="log-in" onclick="openLoginModal()">Sign In</button>
            {% endif %}
        </nav>
    </header>

    <!-- Sign In Modal -->
    <div id="signinModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Sign In</h2>
            <button class="sign-in-btn github-btn" onclick="location.href='login/github'">Sign in with GitHub</button>
            <button class="sign-in-btn google-btn" onclick="location.href='login/google'">Sign in with Google</button>
            <button class="sign-in-btn facebook-btn" onclick="location.href='login/facebook'">Sign in with Facebook</button>
        </div>
    </div>

    <main>
        <section class="adventure">
            <img src="{{ url_for('static', filename='images/mount_fuji_mst.jpg') }}" alt="Mountain">
            <div class="adventure-text">
                <h1>Your Adventure Starts Here</h1>
                <div class="adventure-button-container">
                    <button class="get-real-time-recs" onclick="location.href='plan-a-trip'">Plan a Trip</button>
                    <button class="get-real-time-recs" onclick="location.href='recommendations'">Get Real-Time Recommendations</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © Travel Companion 2024. All Rights Reserved.</p>
    </footer>
    <script>
        function openLoginModal() {
            document.getElementById('signinModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('signinModal').style.display = "none";
        }

        function logout() {
            location.href = "{{ url_for('oauth.logout') }}";
        }

        // Close the modal if the user clicks outside of it
        window.onclick = function(event) {
            if (event.target == document.getElementById('signinModal')) {
                document.getElementById('signinModal').style.display = "none";
        }
    }
    </script>
</body>
</html>
